@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #eeeeee;
}

body,
html,
.page__container {
  width: 100vw;
  min-height: 100vh;
}

.page__container {
  background-color: #222831;
}
